/* Write your CSS here */
.duration{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
}
.tag-name{
    display: flex;
    gap: 0.6rem;
    text-align: center;
flex-wrap: wrap;
padding: 4px;


}
.name{
    background-color: rgb(208, 210, 211);
    width: 10rem;
    height: 3rem;
    font-weight: bold;
    color: rgb(31, 32, 32);
    
    font-size: 12px;
    padding-top: 10px;
    border-radius: 4px;
}